<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.ktds.jspservlet.dto.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.ktds.jspservlet.dto.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="com.ktds.jspservlet.dto.DateDTO" alias="diaryDate"></typeAlias>
        <typeAlias type="com.ktds.jspservlet.dto.UserDTO" alias="user"></typeAlias>
    </typeAliases>
</configuration>